.c-alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    -webkit-animation: fadeOut 3s;
    position: absolute;
    opacity: 0;
    top: 68px;
    width: 100%;
    z-index: 20;
    color: $alert-color;
    background-color: $alert-bg-color;
    border-color: $alert-border-color;

    // スマホが横向きの時フラッシュメッセージを表示する位置を10px分上に
    // ずらさないと隙間が空くため58pxで指定
    @include lg-side() {
        top: 58px;
    }
}
