.c-alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    -webkit-animation: fadeout 3s;
    position: absolute;
    opacity: 0;
    top: 68px;
    width: 100%;
    z-index: 20;
    color: #1b4b72;
    background-color: #d6e9f8;
    border-color: #c6e0f5;
}
