.c-btn {
    display: inline-block;
    color: $font-color-white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: $btn-bg-color;
    border: 1px solid $btn-border-color;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &:hover {
            color: $font-color-white;
            background-color: $btn-hover-bg-color;
            border-color: $btn-hover-border-color;
        }

    &-__link {
        display: inline-block;
        padding: $space_s 0;
    }

}
