.c-card {
    width: 60%;
    @include lg() {
        width: 80%;
    }
    @include lg-side(){
        width: 80%;
        margin-top: $font-size_3l;
    }
    @include md() {
        width: 100%;
        margin-top:0;
    }
    @include sm() {
        width: 90%;
    }

    &__container {
        width: 40%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-font-smoothing: none;
        -webkit-font-smoothing: antialiased;
        -webkit-font-smoothing: subpixel-antialiased;
    }

    &__header {
        padding: $space_m $space_xxl;
        margin-bottom: 0;
        background-color: $card-header-bg-color;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        font-size: $font-size_m;
        @include sm() {
            padding: $space_m;
        }
    }

    &__body {
        -webkit-box-flex: 1;
        flex: 1 1 auto;
        min-height: 1px;
        padding: $space_xxl;
        @include sm() {
            padding: $space_m;
        }
    }

    &__footer {
        padding: $space_m $space_xxl;
        margin-bottom: 0;
        background-color: $card-footer-bg-color;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        font-size: $font-size_m;
    }
}
