.c-container {
    width: $content-width;
    margin: 0 auto;

    @include lg() {
      width: 100%;
    }
    @include md() {
        width: 80%;
        justify-content: space-between;
    }
    @include sm(){
      width: 90%;
    }
}
