.c-post-user {
    display: flex;
    align-items: center;
    @include md() {
        font-size: $font-size_s;
    }

    &__img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-right: $space_s;
    }
}
