.c-show-count{
  text-align: right;
  font-size: $font-size_m;
  padding-right: $space_l;
  font-weight: bold;
  margin-bottom: $space_l;
  @include lg-side() {
    padding-right: $space_s;
  }
  @include md() {
    text-align: center;
    padding: 0;
  }
}
