=================
base
=================
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #f8fafc;
}

body, .container {
  min-width: 992px !important;
}

=================
nav
=================

.navbar {
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  .navbar-light {
    .navbar-brand {
      color: rgba(0, 0, 0, 0.9);

      &:hover, &:focus {
        color: rgba(0, 0, 0, 0.9);
      }
    }

    .navbar-nav {
      .nav-link {
        color: rgba(0, 0, 0, 0.5);

        &:hover, &:focus {
          color: rgba(0, 0, 0, 0.7);
        }

        &.disabled {
          color: rgba(0, 0, 0, 0.3);
        }
      }

      .show > .nav-link, .active > .nav-link {
        color: rgba(0, 0, 0, 0.9);
      }

      .nav-link {
        &.show, &.active {
          color: rgba(0, 0, 0, 0.9);
        }
      }
    }

    .navbar-toggler {
      color: rgba(0, 0, 0, 0.5);
      border-color: rgba(0, 0, 0, 0.1);
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar-text {
      color: rgba(0, 0, 0, 0.5);

      a {
        color: rgba(0, 0, 0, 0.9);

        &:hover, &:focus {
          color: rgba(0, 0, 0, 0.9);
        }
      }
    }
  }

  .navbar-brand {
    display: inline-block;
    padding-top: 0.32rem;
    padding-bottom: 0.32rem;
    margin-right: 1rem;
    font-size: 1.125rem;
    line-height: inherit;
    white-space: nowrap;

    &:hover, &:focus {
      text-decoration: none;
    }
  }

  .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
}

@media (max-width: 575.98px) {
  .navbar-expand-sm > {
    .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

@media (min-width: 576px) {
  .navbar-expand-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;

    .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;

      .dropdown-menu {
        position: absolute;
      }

      .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }

    > {
      .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
        flex-wrap: nowrap;
      }
    }

    .navbar-collapse {
      display: -webkit-box !important;
      display: flex !important;
      flex-basis: auto;
    }

    .navbar-toggler {
      display: none;
    }
  }
}

@media (max-width: 767.98px) {
  .navbar-expand-md > {
    .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

@media (min-width: 768px) {
  .navbar-expand-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;

    .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;

      .dropdown-menu {
        position: absolute;
      }

      .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }

    > {
      .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
        flex-wrap: nowrap;
      }
    }

    .navbar-collapse {
      display: -webkit-box !important;
      display: flex !important;
      flex-basis: auto;
    }

    .navbar-toggler {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .navbar-expand-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;

    .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;

      .dropdown-menu {
        position: absolute;
      }

      .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }

    > {
      .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
        flex-wrap: nowrap;
      }
    }

    .navbar-collapse {
      display: -webkit-box !important;
      display: flex !important;
      flex-basis: auto;
    }

    .navbar-toggler {
      display: none;
    }
  }
}

@media (max-width: 991.98px) {
  .navbar-expand-lg > {
    .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;

    .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;

      .dropdown-menu {
        position: absolute;
      }

      .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }

    > {
      .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
        flex-wrap: nowrap;
      }
    }

@media (max-width: 1199.98px) {
      .navbar-expand-xl > {
        .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
          padding-right: 0;
          padding-left: 0;
        }
      }
    }

@media (min-width: 1200px) {
      .navbar-expand-xl {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        justify-content: flex-start;

        .navbar-nav {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          flex-direction: row;

          .dropdown-menu {
            position: absolute;
          }

          .nav-link {
            padding-right: 0.5rem;
            padding-left: 0.5rem;
          }
        }

        > {
          .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
            flex-wrap: nowrap;
          }
        }

        .navbar-collapse {
          display: -webkit-box !important;
          display: flex !important;
          flex-basis: auto;
        }

        .navbar-toggler {
          display: none;
        }
      }
    }


      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-flow: row nowrap;
      -webkit-box-pack: start;
      justify-content: flex-start;

      > {
        .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
          padding-right: 0;
          padding-left: 0;
        }
      }

      .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;

        .dropdown-menu {
          position: absolute;
        }

        .nav-link {
          padding-right: 0.5rem;
          padding-left: 0.5rem;
        }
      }

      > {
        .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
          flex-wrap: nowrap;
        }
      }

      .navbar-collapse {
        display: -webkit-box !important;
        display: flex !important;
        flex-basis: auto;
      }

      .navbar-toggler {
        display: none;
      }
    }
  .navbar-brand {
    color: rgba(0, 0, 0, 0.9);

    &:hover, &:focus {
      color: rgba(0, 0, 0, 0.9);
    }
  }

  .navbar-nav {
    .nav-link {
      color: rgba(0, 0, 0, 0.5);

      &:hover, &:focus {
        color: rgba(0, 0, 0, 0.7);
      }

      &.disabled {
        color: rgba(0, 0, 0, 0.3);
      }
    }

    .show > .nav-link, .active > .nav-link {
      color: rgba(0, 0, 0, 0.9);
    }

    .nav-link {
      &.show, &.active {
        color: rgba(0, 0, 0, 0.9);
      }
    }
  }

  .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .navbar-text {
    color: rgba(0, 0, 0, 0.5);

    a {
      color: rgba(0, 0, 0, 0.9);

      &:hover, &:focus {
        color: rgba(0, 0, 0, 0.9);
      }
    }
  }
}
.bg-white {
  background-color: #fff !important;
}
.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

=================
container
=================
.container, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}

=================
collapse
=================
.collapse:not(.show) {
  display: none;
}
