//=======================
//reset css  ress使用
//=======================

html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    /* Prevent adjustments of font size after orientation changes in iOS */
    word-break: normal;
    -moz-tab-size: 4;
    tab-size: 4;
}

*,
::after,
::before {
    background-repeat: no-repeat;
    /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
    box-sizing: inherit;
}

::after,
::before {
    text-decoration: inherit;
    /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
    vertical-align: inherit;
}

* {
    padding: 0;
    /* Reset `padding` and `margin` of all elements */
    margin: 0;
}
/* # =================================================================
   # General elements
   # ================================================================= */
hr {
    overflow: visible;
    /* Show the overflow in Edge and IE */
    height: 0;
    /* Add the correct box sizing in Firefox */
}

details,
main {
    display: block;
    /* Render the `main` element consistently in IE. */
}

summary {
    display: list-item;
    /* Add the correct display in all browsers */
}

small {
    font-size: 80%;
    /* Set font-size to 80% in `small` elements */
}

[hidden] {
    display: none;
    /* Add the correct display in IE */
}

abbr[title] {
    border-bottom: none;
    /* Remove the bottom border in Chrome 57 */
    /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
    text-decoration: underline;
    text-decoration: underline dotted;
}

a {
    background-color: transparent;
    /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
    outline-width: 0;
    /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    /* Specify the font family of code elements */
}

pre {
    font-size: 1em;
    /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
    font-weight: bolder;
    /* Add the correct font weight in Chrome, Edge, and Safari */
}
/* https://gist.github.com/unruthless/413930 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}
/* # =================================================================
   # Forms
   # ================================================================= */
input {
    border-radius: 0;
}
/* Replace pointer cursor in disabled elements */
[disabled] {
    cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
    /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
    -webkit-appearance: textfield;
    /* Correct the odd appearance in Chrome and Safari */
    outline-offset: -2px;
    /* Correct the outline style in Safari */
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
    overflow: auto;
    /* Internet Explorer 11+ */
    resize: none;
    /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
    /* Specify font inheritance of form elements */
}

optgroup {
    font-weight: bold;
    /* Restore the font weight unset by the previous rule */
}

button {
    overflow: visible;
    /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
    text-transform: none;
    /* Firefox 40+, Internet Explorer 11- */
}
/* Apply cursor pointer to button elements */
[type="button"],
[type="reset"],
[type="submit"],
[role="button"],
button {
    cursor: pointer;
    color: inherit;
}
/* Remove inner padding and border in Firefox 4+ */
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
/* Replace focus style removed in the border reset above */
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}
button, html [type="button"],
/* Prevent a WebKit bug where (2) destroys native `audio` and `video`controls in Android 4 */
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    /* Correct the inability to style clickable types in iOS */
}
/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
    background-color: transparent;
    border-style: none;
}

select::-ms-expand {
    display: none;
    /* Internet Explorer 11+ */
}

select::-ms-value {
    color: currentColor;
    /* Internet Explorer 11+ */
}

legend {
    border: 0;
    /* Correct `color` not being inherited in IE 8/9/10/11 */
    color: inherit;
    /* Correct the color inheritance from `fieldset` elements in IE */
    display: table;
    /* Correct the text wrapping in Edge and IE */
    max-width: 100%;
    /* Correct the text wrapping in Edge and IE */
    white-space: normal;
    /* Correct the text wrapping in Edge and IE */
    max-width: 100%;
    /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
    /* Correct the inability to style clickable types in iOS and Safari */
    -webkit-appearance: button;
    color: inherit;
    font: inherit;
    /* Change font properties to `inherit` in Chrome and Safari */
}
/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
    border-style: none;
    /* Remove border when inside `a` element in IE 8/9/10 */
}
/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
    vertical-align: baseline;
}

svg:not([fill]) {
    fill: currentColor;
}
/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
    [hidden~="screen"] {
        display: inherit;
    }

    [hidden~="screen"]:not(:active):not(:focus):not(:target) {
        position: absolute !important;
        clip: rect(0 0 0 0) !important;
    }
}
/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
    cursor: progress;
}
/* Specify the pointer cursor of trigger elements */
[aria-controls] {
    cursor: pointer;
}
/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
    cursor: default;
}
//=======================
//変数
//=======================
// 色
$font-color_default: #000000e6;
$background-color_default: #f8f7fc;
$border-color_default: #43424826;
$link-color_default: #3490dc;
$link-hover-color_default: #1d68a7;
$card-header-bg-color: #00000008;
$card-footer-bg-color: #00000008;
$navbar-color: #00000080;
$navbar-hover-color: #000000b3;
$text-muted-color: #fff;
$footer-color: #000000b3; // 横幅
$content-width: 980px;
$navbar-width: 1080px; // 文字サイズ
$font-size_s: 14px;
$font-size_default: 16px;
$font-size_m: 18px;
$font-size_l: 24px;
$font-size_xl: 30px;
$font-size_xxl: 38px;
$font-size_3l: 40px; // 余白
$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px; // フォントスタイル
$font-step: 'Anton', sans-serif; // 画面幅
$breakpoints: (
    'sm': 'screen and (max-width: 414px)',
    'md': 'screen and (max-width: 768px)',
    'lg': 'screen and (max-width: 1024px)',
    'xl': 'screen and (max-width: 1200px)',
)
!default;
@mixin sm($breakpoint: sm) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}
@mixin mp($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}
@mixin lg($breakpoint: lg) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}
@mixin xl($breakpoint: xl) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}
//=======================
//base
//=======================

body,
html {
    font-family: "Nunito", sans-serif;
    font-size: $font-size_default;
    font-weight: 400;
    line-height: 1.6;
    color: $font-color_default;
    background-color: $background-color_default;
    width: 100vw;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

a {
    color: $link-color_default;
    text-decoration: none;
    background-color: transparent;

    &:hover {
        color: $link-hover-color_default;
        text-decoration: underline;
    }
}

input[type="text"],
[type="password"],
[type="file"],
select,
textarea:focus {
    outline: 0;
}
@-webkit-keyframes fadeout {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}
//=======================
//post-user
//=======================

.post-user {
    display: flex;
    align-items: flex-end;

    &-img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-right: $space_s;
    }
}
// ==================================
// hero
// ==================================

.hero {
    background-image: url("/img/top-page_image.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-title {
        font-size: 55px;
        color: #fff;
        text-shadow: 0 0 20px rgba(227, 123, 137, .4), 0 0 50px rgba(0, 0, 0, .8);
    }
}
//=======================
//nav
//=======================

.navbar {
    .container {
        display: flex;
        flex-direction: row;
        padding: $space_m 0;
        width: 80%;

        .navbar-brand {
            color: $font-color_default;
            font-size: $font-size_xl;
            font-family: $font-step;
            letter-spacing: 2px;

            &:hover {
                color: $font-color_default;
                text-decoration: none;
            }
        }
    }

    &-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    &-left {
        display: flex;
        align-items: center;

        &-img {
            width: 40px;
            height: 40px;
            margin-right: $space_m;
        }
    }
}

.nav-item {
    list-style: none;
    padding-right: $space_l;

    .nav-link {
        color: $navbar-color;

        &:hover {
            color: $navbar-hover-color;
            text-decoration: none;
        }
    }
}
//=======================
//card
//=======================
/*
.cardのクラスがついたdivの中身が画面の高さを超える場合、card-overの方を適用させて
中身がナビメニューとフッターにまではみ出ないようにする
*/
.card {
    width: 60%;

    &-container {
        width: 40%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-font-smoothing: none;
        -webkit-font-smoothing: antialiased;
        -webkit-font-smoothing: subpixel-antialiased;
    }

    &-header {
        padding: $space_m $space_xxl;
        margin-bottom: 0;
        background-color: $card-header-bg-color;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        font-size: $font-size_m;
    }

    &-body {
        -webkit-box-flex: 1;
        flex: 1 1 auto;
        min-height: 1px;
        padding: $space_xxl;
    }

    &-footer {
        padding: $space_m $space_xxl;
        margin-bottom: 0;
        background-color: $card-footer-bg-color;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        font-size: $font-size_m;
    }
}
//=======================
//main
//=======================

.main {
    padding: $space_3l;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
//=======================
//form
//=======================

.form {
    &-group {
        margin-bottom: $space_l;
        overflow: hidden;
    }

    &-control {
        width: 100%;
        height: calc(1.6em + 0.75rem + 2px);
        padding: $space_m;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &-pic {
            padding: $space_s;
        }

        &-textarea {
            height: 100px;
        }

        &-category {
            width: 30%;
            padding: 0 0 0 $space_m;
        }

        &-time {
            width: 30%;
            margin-right: $space_s;
        }
    }
}
//=======================
//show
//=======================

.badge {
    display: inline-block;
    padding: $space_m $space_s;
    margin-left: 5px;
    font-size: $font-size_default;
    font-weight: bold;
    line-height: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    border-radius: 3px;

    &-secondary {
        background-color: #4fc353;
        color: white;
    }
}
//=======================
//show
//=======================

.show {
    &-group {
        margin-bottom: $space_l;
        text-align: left;
        overflow: hidden;
    }

    &-control {
        width: 100%;
        background-clip: padding-box;
        padding: $space_s 0;
        border-radius: 0.25rem;
        -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
}
//=======================
//container
//=======================

.container {
    width: $content-width;
    margin: 0 auto;
    justify-content: space-between;
}
//=======================
//footer
//=======================

.footer {
    background-color: $footer-color;
    padding: $space_l;
    text-align: center;
    width: 100%;
    margin-top: auto;
}
//=======================
//alert
//=======================

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    -webkit-animation: fadeout 3s;
    position: absolute;
    opacity: 0;
    top: 68px;
    width: 100%;
    z-index: 20;

    &-primary {
        color: #1b4b72;
        background-color: #d6e9f8;
        border-color: #c6e0f5;
    }
}
//=======================
//step
//=======================

.step {
    margin: 0 $space_s;
    width: 23%;
    transition: 1s;
    -webkit-transition: 1s;

    &:hover {
        opacity: 0.7;
    }

    &-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &-img {
        width: 100%;
        height: 130px;
    }

    &-body {
        padding: $space_m;
        min-height: 250px;
        &-challenging{
          padding: $space_m;
          min-height: 340px;
        }
        &-cleared{
          padding: $space_m;
          min-height: 300px;
        }
    }

    &-link {
        color: $font-color_default;

        &:hover {
            color: $font-color_default;
            text-decoration: none;
        }
    }
}
//=======================
//user
//=======================

.user {
    text-align: center;
    margin-bottom: $space_l;
    width: $content-width;
    margin: 0 auto;

    &-img {
        height: 200px;
        width: 200px;
        border-radius: 100px;
    }

    &-introduction {
        display: inline-block;
        text-align: left;
        padding: $space_m;
        border-radius: 3px;
        width: 80%;
    }
}

/*/
=======================
individual
マイページやプロフィールの
STEPに適用させるスタイル
=======================
/*/
.individual-step{
  width: 23%;
  transition: 1s;
  -webkit-transition: 1s;
  margin: 0 $space_m ;
  &:first-of-type{
    margin-left: $space_s;
    margin-right: $space_m;
  }
  &:nth-of-type(4n){
    margin-left: $space_m;
    margin-right: $space_s;
  }

  &:nth-of-type(4n+1){
    margin-left: $space_s;
    margin-right: $space_m;
  }

  &-group{
    display: flex;
    min-height: 200px;
    justify-content: flex-start;
    flex-wrap: wrap;

  }
}

//=======================
//row
//=======================

.row {
    width: 100%;
}
//=======================
//button
//=======================

.btn {
    display: inline-block;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &-link {
        font-weight: 400;
        color: #3490dc;
        text-decoration: none;
        padding: $space_s 0;
    }

    &-primary {
        color: #fff;
        background-color: #3490dc;
        border-color: #3490dc;

        &:hover {
            color: #fff;
            background-color: #227dc7;
            border-color: #2176bd;
        }
    }
}
//=======================
//utility
//=======================

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.bg-white {
    background-color: #fff;
}

.border-default {
    border-radius: 3px;
    border: solid 1px #00000020;
}

.text-muted {
    color: $text-muted-color;
}

.invalid-feedback {
    color: red;
    font-size: $font-size_s;
    display: block;
}

.is-invalid {
    border-color: red;
    padding-right: calc(1.6em + 0.75rem);
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.margin-bottom-space_l {
    margin-bottom: $space_l;
}

.margin-right-space_m {
    margin-right: $space_m;
}

.margin-bottom-space_m {
    margin-bottom: $space_m;
}

.content-center {
    width: 40%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-font-smoothing: none;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
}

.underline-thin {
    border-bottom: solid thin #ced4da;
    display: inline-block;
}

.underline-bold {
    border-bottom: groove 5px #ced4da;
}

.secondary-title {
    text-align: center;
}
