//=======================
// Foundation
//=======================
@import "Foundation/_reset.scss";
@import "Foundation/_variable.scss";
@import "Foundation/_mixin.scss";
@import "Foundation/_base.scss";

//=======================
// Layout
//=======================
@import "Layout/_footer.scss";
@import "Layout/_main.scss";

//=======================
// Object
//=======================
//===========
// Component
//===========
@import "Object/Component/_btn.scss";
@import "Object/Component/_card.scss";





//===========
// Project
//===========





//=======================
// Utility
//=======================
@import "Utility/_underline.scss";
@import "Utility/_margin.scss";
@import "Utility/_text.scss";
@import "Utility/_float-right.scss";
@import "Utility/_border.scss";
@import "Utility/_invalid.scss";
@import "Utility/_background.scss";
@import "Utility/_shadow.scss";
@import "Utility/_title.scss";
//=======================
//post-user
//=======================

.post-user {
    display: flex;
    align-items: flex-end;
    @include md() {
        align-items: center;
        font-size: $font-size_s;
    }

    &-img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-right: $space_s;
    }
}

// ==================================
// hero
// ==================================

.hero {
    background-image: url("/img/top-page_image.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include lg() {
        height: 550px;
        background-attachment: scroll;
    }
    @include lg-side() {
        height: 500px;
        background-attachment: scroll;
    }
    @include md() {
        height: 300px;
    }
    @include sm() {
        height: 280px;
    }

    &-title {
        text-align: center;
        font-size: $font-size_3l;
        color: #fff;
        text-shadow: 0 0 20px rgba(227, 123, 137, .4), 0 0 50px rgba(0, 0, 0, .8);
        @include lg() {
            font-size: 45px;
        }
        @include md() {
            font-size: $font-size_xl;
        }
        @include sm() {
            font-size: 25px;
        }
    }
}
//=======================
//nav
//=======================

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
    .container {
        display: flex;
        flex-direction: row;
        padding: $space_m 0;
        width: 90%;
        @include sm() {
            width: 90%;
        }

        .navbar-brand {
            color: $font-color_default;
            font-size: $font-size_xl;
            font-family: $font-step;
            letter-spacing: 2px;
            @include lg(){
              font-size: $font-size_l;
            }
            @include md(){
              font-size: $font-size_xl;
            }
            &:hover {
                color: $font-color_default;
                text-decoration: none;
            }
        }
    }

    &.float-active {
        transition: 0.3s;
        background: rgba(255, 255, 255, 0.9);
    }

    &-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    &-left {
        display: flex;
        align-items: center;

        &-img {
            width: 40px;
            height: 40px;
            margin-right: $space_m;
            @include lg(){
              width: 30px;
              height: 30px;
            }
            @include md(){
              width: 40px;
              height: 40px;
            }
        }
    }
}

.nav-item {
    list-style: none;
    padding-right: $space_l;
    @include lg() {
      font-size: $font-size_xs;
      padding-right: $space_s;
    }
    @include md() {
      font-size: $font-size_default;
      padding-right: $space_l;
    }
    &:last-of-type {
        padding-right: 0;
    }
    .nav-link {
        color: $navbar-color;

    &:hover {
        color: $navbar-hover-color;
        text-decoration: none;
    }
}

}
// ==================================
// menu（スマホ用ナビメニュー）
// ==================================

.nav-menu {
    @include md() {
        display: block;
        position: absolute;
        top: 0;
        right: -100%;
        background: rgba(255, 255, 255, .85);
        width: 100%;
        height: 100vh;
        padding-top: $font-size_3l;
        transition: 0.5s;

        &.active {
            transition: 0.5s;
            transform: translateX(-100%);
            z-index: 2;
        }
    }
}

.menu {
    display: inherit;
    @include md() {
        font-size: $font-size_xl;
        margin-top: 100px;
    }
    @include sm() {
        font-size: $font-size_l;
        margin-top: $font-size_3l;
    }

    &-item {
      list-style: none;
      padding-right: $space_l;
        @include lg() {
          font-size: $font-size_xs;
          padding-right: $space_s;
        }
        @include md() {
          font-size: $font-size_xl;
          margin: $font-size_xl 0;
          text-align: center;
        }
        @include sm() {
          font-size: $font-size_l;
        }
        &:last-of-type {
            padding-right: 0;
        }
        .nav-link {
            color: $navbar-color;

        &:hover {
            color: $navbar-hover-color;
            text-decoration: none;
        }
    }
    }
}

.menu-trigger {
    display: none;
    @include md() {
        display: inline-block;
        margin-top: 8px;
    }
    transition: all 0.4s;
    position: relative;
    width: 40px;
    height: 32px;
    z-index: 3;

    span {
        display: inline-block;
        transition: all 0.4s;
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $font-color_default;
        border-radius: 4px;

        &:nth-of-type(1) {
            top: 0;
        }

        &:nth-of-type(2) {
            top: 14px;
        }

        &:nth-of-type(3) {
            bottom: 0;
        }
    }

    &.active span {
        &:nth-of-type(1) {
            transform: translateY(12px) rotate(-45deg);
        }

        &:nth-of-type(2) {
            opacity: 0;
        }

        &:nth-of-type(3) {
            transform: translateY(-15px) rotate(45deg);
        }
    }
}
//=======================
//card
//=======================

//=======================
//form
//=======================

.form {
    &-group {
        margin-bottom: $space_l;
        overflow: hidden;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &-control {
        width: 100%;
        height: calc(1.6em + 0.75rem + 2px);
        padding: $space_m;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &-pic {
            padding: $space_s;
        }

        &-textarea {
            height: 100px;
        }

        &-category {
            width: 30%;
            padding: 0 0 0 $space_m;
            @include md() {
                width: 80%;
            }
        }

        &-time {
            width: 30%;
            margin-right: $space_s;
        }
    }
}
//=======================
//badge
//=======================

.badge {
    display: inline-block;
    padding: $space_m $space_s;
    margin-left: $space_s;
    font-size: $font-size_default;
    font-weight: bold;
    line-height: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    border-radius: 3px;

    &-secondary {
        background-color: $badge-bg-color;
        color: $font-color-white;
    }
}
//=======================
//show
//=======================

.show {
    &-group {
        margin-bottom: $space_l;
        text-align: left;
        overflow: hidden;
        &-link{
            font-size: $font-size_s;
        }
    }

    &-control {
        width: 100%;
        background-clip: padding-box;
        padding: $space_s 0;
        border-radius: 0.25rem;
        -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
}
//=======================
//container
//=======================

.container {
    width: $content-width;
    margin: 0 auto;
    justify-content: space-between;
    @include lg() {
      width: 100%;
    }
    @include md() {
        width: 80%;
        justify-content: space-between;
    }
    @include sm(){
      width: 90%;
    }
}


.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

//=======================
//footer
//=======================

//=======================
//alert
//=======================

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    -webkit-animation: fadeout 3s;
    position: absolute;
    opacity: 0;
    top: 68px;
    width: 100%;
    z-index: 20;

    &-primary {
        color: #1b4b72;
        background-color: #d6e9f8;
        border-color: #c6e0f5;
    }
}
//=======================
//step
//=======================

.step {
    margin: 0 $space_s;
    width: 23%;
    transition: 1s;
    -webkit-transition: 1s;
    @include lg() {
        margin: 0;
        width: 43%;
    }
    @include md() {
        width: 90%;
    }
    @include sm() {
        width: 80%;
    }

    &:hover {
        opacity: 0.7;
    }

    &-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        @include lg() {
          justify-content: space-between;
        }
        @include md() {
          justify-content: center;
          font-size: $font-size_s;
        }
    }

    &-img {
        width: 100%;
        height: 130px;
    }

    &-body {
        padding: $space_m;
        min-height: 250px;
        @include lg() {
            margin: 0;
            min-height: 225px;
        }
        @include md() {
            margin: 0;
            min-height: 200px;
        }

        &-challenging {
            padding: $space_m;
            min-height: 350px;
            @include lg() {
                min-height: 330px;
            }
            @include md() {
                min-height: 290px;
            }
        }

        &-cleared {
            padding: $space_m;
            min-height: 300px;
            @include lg() {
                min-height: 275px;
            }
            @include md() {
                min-height: 245px;
            }
        }
    }

    &-link {
        color: $font-color_default;

        &:hover {
            color: $font-color_default;
            text-decoration: none;
        }
    }
}
/*/
=======================
individual
マイページやプロフィールの
STEPに適用させるスタイル
=======================
/*/
.individual-step {
    width: 23%;
    transition: 1s;
    -webkit-transition: 1s;
    margin-left:  $space_m;
    margin-right: $space_m;
    margin-bottom: $space_l;
    @include lg() {
        margin-left:  0;
        margin-right: 0;
        width: 43%;
    }
    @include md() {
        width: 90%;;
    }
    @include sm() {
        margin: 0;
        width: 80%;
    }

    &:nth-of-type(4n) {
        margin-left: $space_m;
        margin-right: $space_s;
        @include lg() {
          margin-left:  0;
          margin-right: 0;
        }
        @include sm() {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: $space_l;
        }
    }

    &:nth-of-type(4n+1) {
        margin-left: $space_s;
        margin-right: $space_m;
        @include lg() {
          margin-left:  0;
          margin-right: 0;
        }
        @include sm() {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: $space_l;
        }
    }

    &-group {
        display: flex;
        min-height: 200px;
        justify-content: flex-start;
        flex-wrap: wrap;
        text-align: center;
        @include lg() {
            justify-content: space-between;
        }
        @include md() {
            font-size: $font-size_s;
            justify-content: space-around;
        }
    }
}
//=======================
//user
//=======================

.user {
    text-align: center;
    margin-bottom: $space_l;
    width: $content-width;
    margin: 0 auto;
    @include lg() {
        width: 100%;
    }

    &-img {
        height: 200px;
        width: 200px;
        border-radius: 100px;
    }

    &-introduction {
        display: inline-block;
        text-align: left;
        padding: $space_m;
        border-radius: 3px;
        width: 100%;
        @include sm() {
            width: 100%;
        }
    }
}
//=======================
//row
//=======================

.row {
    width: 100%;
    @include lg() {
      width: 70%;
    }
    @include lg-side() {
      width: 80%;
    }
    @include md() {
      width: 100%;
    }
}
//=======================
//button
//=======================

//=======================
//utility
//=======================
.content-center {
    width: 40%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-font-smoothing: none;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    @include lg() {
        width: 70%;
    }
    @include md() {
        width: 90%;
    }
    @include sm() {
        top: 52%;
        width: 90%;
    }
}
