/*/
=======================
individual
マイページやプロフィールの
STEPに適用させるスタイル
=======================
/*/

.p-individual-step {
    width: 23%;
    transition: 1s;
    -webkit-transition: 1s;
    margin-left:  $space_m;
    margin-right: $space_m;
    margin-bottom: $space_l;
    @include lg() {
        margin-left:  0;
        margin-right: 0;
        width: 43%;
    }
    @include md() {
        width: 90%;;
    }
    @include sm() {
        margin: 0;
        width: 80%;
    }

    &:nth-of-type(4n) {
        margin-left: $space_m;
        margin-right: $space_s;
        @include lg() {
          margin-left:  0;
          margin-right: 0;
        }
        @include sm() {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: $space_l;
        }
    }

    &:nth-of-type(4n+1) {
        margin-left: $space_s;
        margin-right: $space_m;
        @include lg() {
          margin-left:  0;
          margin-right: 0;
        }
        @include sm() {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: $space_l;
        }
    }

    &-group {
        display: flex;
        min-height: 200px;
        justify-content: flex-start;
        flex-wrap: wrap;
        text-align: center;
        @include lg() {
            justify-content: space-between;
        }
        @include md() {
            font-size: $font-size_s;
            justify-content: space-around;
        }
    }
}
