.p-navbar-left {
    display: flex;
    align-items: center;
    
    &__title {
        color: $font-color_default;
        font-size: $font-size_xl;
        font-family: $font-step;
        letter-spacing: 2px;
        @include lg(){
          font-size: $font-size_l;
        }
        @include md(){
          font-size: $font-size_xl;
        }
        &:hover {
            color: $font-color_default;
            text-decoration: none;
        }
    }

    &__img {
        width: 40px;
        height: 40px;
        margin-right: $space_m;
        @include lg(){
          width: 30px;
          height: 30px;
        }
        @include md(){
          width: 40px;
          height: 40px;
        }
    }
}
