.p-navbar {
    position: fixed;
    width: 100%;
    z-index: 40;
    &__section {
        display: flex;
        flex-direction: row;
        padding: $space_m 0;
        width: 90%;
        margin: 0 auto;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    &.is-float-active {
        transition: 0.3s;
        background: rgba(255, 255, 255, 0.9);
    }

}
