.p-show {
    &-group {
        margin-bottom: $space_l;
        text-align: left;
        overflow: hidden;
        &__link{
            font-size: $font-size_s;
        }
    }

    &__control {
        width: 100%;
        background-clip: padding-box;
        padding: $space_s 0;
        -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
}
