.u-is-invalid {
    border-color: $invalid-border-color;
}

.u-invalid-feedback {
    color: $invalid-feedback-color;
    font-size: $font-size_s;
    display: block;

    @include sm() {
        font-size: $font-size_xs;
    }
}
