.u-is-invalid {
    border-color: #F00;
    padding-right: calc(1.6em + 0.75rem);
}

.u-invalid-feedback {
    color: red;
    font-size: $font-size_s;
    display: block;
    @include sm() {
        font-size: $font-size_xs;
    }
}
