.u-twitter-share-btn {
    background-color: $twitter-share-btn-bg-color;
    color: $twitter-share-btn-color;
    display: inline-block;
    padding: $space_s;
    border-radius: 3px;
    margin-bottom: $space_m;

    &:hover {
        transition: 0.5s;
        opacity: 0.7;
    }
}
